<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour de la part de l'équipe du Lobby</h1>
    <p>Vous avez sollicité une inscription pour l'ONG <%= @ngo.name %> sur le site https://le-lobby.herokuapp.com via l'adresse email <%= @ngo.email %>.</p>
    <br/>
    <p>Nous vous adressons cet e-mail pour vous informer que votre statut a été invalidé par <%= @admin.username %>, l'un de nos administrateurs.</p>
    <br/>
		<p>Pour avoir plus d'information quant à ce changement de statut, vous pouvez nous demander de plus amples informations en répondant à cet-email.</p>
    <br/>
    <p>Le Lobby est un projet engagé, militant, social et technique qui souhaite apporter sa pierre à la résolution de la problématique contemporaine la plus importante : la transition écologique.
    Nous souhaitons également faire évoluer Le Lobby, n'hésitez pas à nous faire des retours. </p>
    <br/>
    <p>Merci pour votre inscription et à bientot !</p>
  </body>
</html>

