<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour de la part de l'équipe du Lobby</h1>
		<p>Vous avez sollicité une inscription pour l'ONG <%= @ngo.name %> sur le site https://le-lobby.herokuapp.com via l'adresse email <%= @ngo.email %>.</p>
    <br/>
		<p>Nous vous adressons cet e-mail pour vous informer que votre statut a été validé par <%= @admin.username %>, l'un de nos administrateurs.</p>
    <br/>
		<p>Le Lobby est un projet en cours de développement, et les fonctionnalités dédiées aux ONGs ne sont pas encore mises en place.</p>
		<p>Toutefois vous pourrez bientôt soutenir des Mouvements, participer aux Forums, ainsi que personnaliser de manière bien plus détaillée votre profil.</p>
		<p>Nous souhaitons vous offir la possibilité de présenter vos modalités d'adhésion, vos victoires, vos méthodes, ainsi que votre actualité.</p> 
    <p>Dans un futur proche, nous souhaitons également permettre aux ONGs partenaires de prendre en charge le contenu d'un Mouvement ou d'un Thème et leurs Sources associées en fonction des compétences et expertises propres à chaque ONG, ce qui nous permettra de proposer à nos utilisateurs du contenu pertinent et militant.</p>
    <br/>
    <p>Le Lobby est fier de pouvoir associer à notre projet les acteurs associatifs. Cette fonctionalité nous permet d'essayer de répondre à un enjeu majeur de la transition écologique : celui de faire le lien entre les particuliers et le monde associatif.</p>
    <p>Nous souhaitons vous proposer à la fois une vitrine, une clarification de vos positions, de vos priorités, ainsi que des modalités permettant de vous rejoindre. Le tout sur une plateforme associative faisant le lien entre particuliers, leurs démarches individuelles, et l'action collective.</p>
    <br/>
    <p>Le Lobby est un projet engagé, militant, social et technique qui souhaite apporter sa pierre à la résolution de la problématique contemporaine la plus importante : la transition écologique.
    Nous souhaitons également faire évoluer Le Lobby, n'hésitez pas à nous faire des retours. </p>
    <br/>
    <p>Merci pour votre inscription et à bientot !</p>
  </body>
</html>

