<!DOCTYPE html>
<html>
	<head>
		<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
	</head>
	<body>
		<h1>Bienvenue sur Le Lobby !</h1>
		<p>Vous vous êtes inscrit sur le-lobby.herokuapp.com en tant qu'ONG, en utilisant l'e-mail suivant : <%= @ngo.email %>.</p> 
		<br/>
		<p>Le Lobby est fier de pouvoir associer à notre projet les acteurs associatifs. Cette fonctionalité nous permet d'essayer de répondre à un enjeu majeur de la transition écologique : celui de faire le lien entre les particuliers et le monde associatif.</p>
		<p>Nous souhaitons vous proposer à la fois une vitrine, une clarification de vos positions, de vos priorités, ainsi que des modalités permettant de vous rejoindre. Le tout sur une plateforme associative faisant le lien entre particuliers, leurs démarches individuelles, et l'action collective.</p>
		<br/>
		<p>Lorsque votre inscription aura été validée par l'un de nos administrateurs, vous pourrez soutenir des Mouvements et participer aux Forums.</p>
		<p>Dans un futur proche, nous souhaitons permettre aux ONGs partenaires de prendre en charge le contenu d'un Mouvement ou d'un Thème, ce qui nous permettra de proposer à nos utilisateurs du contenu pertinent et militant.</p>
		<br/>
		<p>L'inscription en tant qu'ONG est différente d'une inscription normale. Dans cet e-mail, nous allons vous expliquer les prochaines étapes à suivre.</p> 
		<ul>
			<li>Votre inscription doit être validée par un de nos administrateurs, qui vérifiera auprès de vos services que vous avez bel et bien souhaité effectuer cette démarche. Il doit aussi vérifier que vous êtes effectivement une ONG répertoriée et oeuvrant pour la transition écologique.</li>
			<li>Vous devez compléter votre Profil en remplissanremplissant tous les champs. Votre inscription ne sera pas validée avant que l'administrateur en charge de votre validation n'estime que votre Profil est suffisamment complet.</li>
			<li>Quand votre inscription sera validée, vous verrez sur la page de votre profil que votre 'statut' est 'validé'.</li>
			<li>Vous pourrez alors participer soutenir un Mouvement, ainsi que participer aux Forums.</li>
		</ul>
		<br/>
		<p>Le Lobby est un projet engagé, militant, social et technique qui souhaite apporter sa pierre à la résolution de la problématique contemporaine la plus importante : la transition écologique. 
		Nous souhaitons également faire évoluer Le Lobby, n'hésitez pas à nous faire des retours. </p>
		<br/>
		<p>Merci pour votre inscription et à bientot !</p>
	</body>
</html>
