<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
		<h1>Une nouvelle ONG a demandé à s'inscrire sur Le Lobby</h1>
		<p>Bonjour administrateur</p>
		<p>Une nouvelle ONG a souhaité s'inscrire sur Le Lobby.</p>
		<p>Un administrateur doit valider cette demande d'inscription pour que l'ONG puisse utiliser toutes les fonctionnalités du site.</p>
		<p>Pour valider cette inscription vous devez vérifier les informations fournies par l'ONG et vférifier auprès de l'administration de cette ONG qu'elle a effectivement souhaité inscrire sa structure sur Le Lobby.</p>
		<p>Après avoir effectué cette vérification, vous devrez vous connecter sur votre espacer Administrateur et cliquer sur 'Valider', ce qui complètera l'inscription de cette ONG.</p>
		<p>Un e-mail sera	automatiquement envoyé à l'ONG concernée pour l'avertir de son changement de statut.</p>
		<p>Merci, et à bientôt sur Le Lobby.</p>
	</body>
</html>
